@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}   
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}


body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: white;
}


.header {
    background-color: white;
    color: black;
}

.navigation-link {
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.button {
    font-family: "PT Sans", sans-serif;
    line-height: 20px;  
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: #756157;
    border-radius: 4px;
    border:none;
    text-decoration: none;
}

.button-additional {
    background-color: #82B3D3;
}

.button-selected {
    background-color: #7DB54F;
}

.button-big {
    font-size: 20px;
    padding: 8px 50px;
}

.button-reset {
    background-color: transparent;
    color: white;
}

.button:hover {
    background-color: #615048;
}

.button-additional:hover {
    background-color: #68A2CA;
}

.button-selected:hover {
    background-color: #6C9E42;
}


.button:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-additional:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-selected:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: not-allowed;
}


.heading-2 {
    line-height: 36px;  
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.heading-2.search-results {
    text-align: start;
}

.heading-2.newsletter-heading {
    color: white;
}

.heading-2-description {
    line-height: 26px;  
    font-weight: 400;
    font-size: 22px;   
    color: black;
    text-align: center;
}

.welcome-section {
    background: url("../images/background-images/index-background.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    background-color: #756157;
}


.heading-3 {
    line-height: 28px;  
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}


.advantages-item.with-photo .heading-3 {
    color: white;
}

.advantages-item.with-photo .heading-3-description {
    color: white;
}

.heading-3-description {
    line-height: 21px;  
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-align: center;
}


.heading-3.item-name {
    text-align: start;
}
.heading-3-description.item-type {
    text-align: start;
}
.heading-3-description.item-price {
    text-align: end;
}



.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
    background-color: white;
}

.advantages-item:first-child {
    background-color: #82B3D3;
}
.advantages-item:last-child {
    background-color: #82B3D3;
}

.line-separater {
    width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}



.newsletter {
    background: url("../images/background-images/newsletter-image.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}

.newsletter-description {
    line-height: 26px;  
    font-weight: 400;
    font-size: 22px;
    color: white;
    text-align: center;
}


.number {
    font-family: "PT Sans", sans-serif;
    line-height: 40px;  
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal; 
}

.number:hover {
    color: rgba(117, 97, 87, 1);
    text-decoration: none;
}

.number:active {
    color: rgba(117, 97, 87, 0.3);
    text-decoration: none;
}

.number:focus {
    color: rgba(117, 97, 87, 1);
}

.email {
    line-height: 24px;  
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.hostels {
    line-height: 78px;  
    font-weight: 700;
    font-size: 60px;
    color: white;
}

.filters {
    background: url("../images/background-images/filters-background.jpg") no-repeat center;
    background-size: cover;
    background-color: green;
}

.select-options {
    border-radius: 4px;
    border: 2px solid rgba(229, 229, 229, 1);
}

.rating-number {
    line-height: 20px;  
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(242, 242, 242, 1);
}



.pagination-item-link {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.pagination-item-link.select {
    background-color: rgba(242, 242, 242, 1);
    color: rgba(0, 0, 0, 1);
}
.pagination-item-link.dots {
    background-color: white;
    color: rgba(0, 0, 0, 1);
}

.comfort-item {
    background-color: white;
}


.find-hotel {
    text-align: center;
}


.visibility-hidden {
    visibility: hidden;
}

.comfort-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.comfort-item:nth-child(even) {
    background-color: white;
}

.html-academy-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.html-academy-link:hover {
    color: rgba(117, 97, 87, 1);
}

.html-academy-link:active {
    color: rgba(117, 97, 87, 0.3);
}

.html-academy-link:focus {
    color: rgba(117, 97, 87, 1);
}