@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}   
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}


body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: white;
}


.header {
    background-color: white;
    color: black;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
}

.button {
    font-family: "PT Sans", sans-serif;
    line-height: 20px;  
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: #756157;
    border-radius: 4px;
    border:none;
}

.button.btn-accept-filters {
    color: white;
    background-color: rgba(130, 179, 211, 1);
}

.button.btn-reset-filters {
    color: white;
    background-color: transparent;
    border: none;
}

.button.link-detailed-item {
    text-decoration: none;
}


.heading-2 {
    line-height: 36px;  
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.heading-2.search-results {
    text-align: start;
}

.heading-2.newsletter-heading {
    color: white;
}

.heading-2-description {
    line-height: 26px;  
    font-weight: 400;
    font-size: 22px;   
    color: black;
    text-align: center;
}

.welcome-section {
    background: url("../images/background-images/index-background.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    background-color: #756157;
}

.welcome-section img {
    display: block;
    margin: auto;
}

.heading-3 {
    line-height: 28px;  
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.heading-3.with-photo{
    color: white;
}

.heading-3-description {
    line-height: 21px;  
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-align: center;
}

.heading-3-description.with-photo{
    color: white;
}

.heading-3.item-name {
    text-align: start;
}
.heading-3-description.item-type {
    text-align: start;
}
.heading-3-description.item-price {
    text-align: end;
}



.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
    background-color: white;
}

.advantages-item:first-child {
    background-color: #82B3D3;
}
.advantages-item:last-child {
    background-color: #82B3D3;
}

.line-separater {
    width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}



.newsletter {
    background: url("../images/background-images/newsletter-image.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}

.newsletter-description {
    line-height: 26px;  
    font-weight: 400;
    font-size: 22px;
    color: white;
    text-align: center;
}


.number {
    line-height: 40px;  
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.email {
    line-height: 24px;  
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.hostels {
    line-height: 78px;  
    font-weight: 700;
    font-size: 60px;
    color: white;
}

.filters {
    background: url("../images/background-images/filters-background.jpg") no-repeat center;
    background-size: cover;
    background-color: green;
}

.select-options {
    width: 292px;
    height: 49px;
    border-radius: 4px;
    border: 2px solid rgba(229, 229, 229, 1);
}

.rating-number {
    line-height: 20px;  
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(242, 242, 242, 1);
    width: 140px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotel-item-description {
    width: 300px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.pagination-item-link {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.pagination-item-link.select {
    background-color: rgba(242, 242, 242, 1);
    color: rgba(0, 0, 0, 1);
}
.pagination-item-link.dots {
    background-color: white;
    color: rgba(0, 0, 0, 1);
}