@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}   
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: rgba(242, 242, 242, 1);

    min-height: 100%;
    margin: 0;
}

.page-conteiner {
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


.header {
    background-color: white;
    color: black;
    padding: 0 70px;
}

.header-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
}

.link-home-page {
    height: 64px;
    position:relative;
    z-index: 1;
}


.left-side-header {
    width: 507px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    width: 500px;
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    font-size: 20px;
    align-items: center;
}

.navigation-list {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 34px;
}

.right-side-header {
    display: flex;
    align-items: center;
}

.header-actions {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    align-items: center;
}

.navigation-link {
    line-height: 24px;
    font-weight: 700;    
    color: black;
    text-decoration: none;
    padding: 20px 16px;
}


.button {
    font-family: "PT Sans", sans-serif;
    line-height: 20px;  
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: #756157;
    border-radius: 4px;
    border:none;
    text-decoration: none;
}

.button-additional {
    background-color: #82B3D3;
}

.button-selected {
    background-color: #7DB54F;
}

.button-big {
    font-size: 20px;
    padding: 8px 50px;
}

.button-reset {
    background-color: transparent;
    color: white;
}

.button:hover {
    background-color: #615048;
}

.button-additional:hover {
    background-color: #68A2CA;
}

.button-selected:hover {
    background-color: #6C9E42;
}


.button:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-additional:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-selected:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: not-allowed;
}

.main-page {
    max-width: 1200px; 
    margin: 0 auto;
    background-color: white;
}

.catalog-page {
    max-width: 1200px; 
    margin: 0 auto;
}

.separate-inscription {
    background-color: white;
    justify-content: center;
    align-items: center;
}

 .separate-inscription.sedona {
    padding: 69px 290px;
}

.separate-inscription.relax {
    padding: 64px 348px;
}

.separate-inscription.bid {
    padding: 96px 304px;
}  

.newsletter-conteiner {
    padding: 96px 258px 104px 258px;
}
.heading-2 {
    line-height: 36px;  
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.heading-2.search-results {
    text-align: start;
}

.heading-2.newsletter-heading {
    color: white;
}

.heading-2-description {
    line-height: 26px;  
    font-weight: 400;
    font-size: 22px;   
    color: black;
    text-align: center;
}

.welcome-section {
    background: url("../images/background-images/index-background.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    background-color: #756157;
}

.welcome-section img {
    padding-top: 51px;
}

.heading-3 {
    line-height: 28px;  
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 0 ;
}


.advantages-list {
    width: 1200px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    overflow: hidden;
}

.advantages-item.with-photo {
    width: 1200px;
    flex-direction: row;
}

.common {
    height: 272px;
    width: 230px;
    padding: 113px 85px 0;
    justify-content: flex-start;
}


.advantages-item.with-photo img {
    width: 800px;
}

.advantages-item.with-photo .heading-3 {
    color: white;
}

.advantages-item.with-photo .heading-3-description {
    color: white;
}

.heading-3-description {
    line-height: 21px;  
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-align: center;
    margin: 0;
}


.heading-3.item-name {
    text-align: start;
}
.heading-3-description.item-type {
    text-align: start;
}
.heading-3-description.item-price {
    text-align: end;
}



.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:first-child {
    background-color: #82B3D3;
}
.advantages-item:last-child {
    background-color: #82B3D3;
}

.line-separater {
    width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.comfort-list {
    width: 1200px;
    display: flex;
    list-style: none;   
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.comfort-item {
    height: 304px;
    width: 230px;
    padding: 81px 85px 0;
    justify-content: flex-start;
    overflow: hidden;
}

.newsletter {
    background: url("../images/background-images/newsletter-image.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    
}

.newsletter-description {
    line-height: 26px;  
    font-weight: 400;
    font-size: 22px;
    color: white;
    text-align: center;
}


.number {
    font-family: "PT Sans", sans-serif;
    line-height: 40px;  
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal; 
}

.number:hover {
    color: rgba(117, 97, 87, 1);
    text-decoration: none;
}

.number:active {
    color: rgba(117, 97, 87, 0.3);
    text-decoration: none;
}

.number:focus {
    color: rgba(117, 97, 87, 1);
}

.email {
    line-height: 24px;  
    font-weight: 400;
    font-size: 18px;
    color: black;
    width: 452px;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 0 20px;
    margin: 0;
}

.button.button-additional.email-btn {
    width: 232px;
    margin-left: 0;
    padding: 0;
    border-radius: 0 4px 4px 0;
    border: none;
}

.newsletter form {
    display: flex;
    justify-content: center;
}

.hostels {
    line-height: 78px;  
    font-weight: 700;
    font-size: 60px;
    color: white;
    margin: 0;
    padding: 0;
}

.filters {
    background: url("../images/background-images/filters-background.jpg") no-repeat center;
    background-size: cover;
    background-color: green;
    display: flex;
    flex-direction: column;
    gap:40px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;  
}

.select-options {
    border-radius: 4px;
    border: 2px solid rgba(229, 229, 229, 1);
}

.rating-number {
    line-height: 20px;  
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(242, 242, 242, 1);
}



.pagination-item-link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 17px 18px;
}


.comfort-item {
    background-color: white;
}


.find-hotel {
    text-align: center;
}

.button.button-big.btn-found-hotels {
    width: 376px;
}


.visibility-hidden {
    display: none;
}

.comfort-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.comfort-item:nth-child(even) {
    background-color: white;
}

.html-academy-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.html-academy-link:hover {
    color: rgba(117, 97, 87, 1);
}

.html-academy-link:active {
    color: rgba(117, 97, 87, 0.3);
}

.html-academy-link:focus {
    color: rgba(117, 97, 87, 1);
}

.footer {
    background-color: white;
    padding: 40px 70px 30px 70px;
}

.footer-conteiner {
    display: flex;
    align-items: center;
    width: 1060px;
}

.social-links-list {
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 28px;
    padding: 0;
    margin: 0;
}
.social-link {
    padding: 8px 8px;
}

.contact-phone-number {
    flex-grow: 1; 
    text-align: center;
}

.filters {
    padding: 35px 70px 70px 70px;
}

.filters-form {
    display: flex;
    justify-content: space-between;
    color: white;
}

.btn-filters {
    width: 191px;
    display: flex;
    flex-direction: column;
    gap:32px;
    justify-content: end;
}
.btn-filters .button {
    height: 36px;
}

.main-content-on-page {
    background-color: white;
}

.header-of-main-content {
    padding: 50px 70px 40px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-results {
    width: 338px;
}

.filter-and-view{
    width: 522px;
    display: flex;
    align-items: center;
    gap:74px;
}

.select-options {
    width: 292px;
    
}

.view-type-list{
    width: 160px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.view-button {
    width: 48px;
    border: none;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(229, 229, 229, 1);
}

.view-button.active {
    border: 2px solid rgba(0, 0, 0, 1);
    color: #fff;
}
.view-button img {
    padding: 17px 16px;
}


.hotels-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 70px;
    gap:20px;
}

.hotels-item {
    border-radius: 4px;
    width: 340px;
    background: white;
}

.hotels-item img {
    width: 300px;
}

.hotels-item p {
    width: 300px;
}

.hotel-item-description{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-item-description-btns{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.rating-starts {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 6px;
}

.rating-area {
    display: flex;
    justify-content: space-between;
}

.pagination {
    padding: 80px 70px 60px 70px;
    justify-content: flex-start; 
}

.pagination-list {
    display: flex;
    list-style: none;
    gap:8px;
    padding: 0;
    margin: 0;
}

.pagination-item {
    background-color: rgba(130, 179, 211, 1);
    border-radius: 4px;
    text-align: center;
    align-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    padding: 12px 0;
    min-width: 60px;
}

.pagination-item.select {
    background-color: rgba(242, 242, 242, 1);
}

.pagination-item.dots {
    background-color: white;
}

.pagination-item.select > .pagination-item-link {
    color: rgba(0, 0, 0, 1);
}

.pagination-item.dots > .pagination-item-link {
    color: rgba(0, 0, 0, 1);
}

.conteiner-blocks {
    display: flex;
    flex-direction: column;
    gap:30px;
}

.conteiner-blocks img {
    margin: 0 auto;
}

.links-list {
    display: flex;
    color: white;
    gap:11px;
    list-style:none;
    margin: 0;
    padding: 0;
}

.filter-header {
    display: flex;
    flex-direction: column;
    gap:8px
}

.form-conteiner {
    display: flex;
    gap:70px
}

.form-conteiner.first {
    width: 371px;
}

.form-conteiner.second {
    width: 549px;
}

.shared-field {
    width: 151px;
    min-width: 0;
    padding: 0;
    margin: 0;
}
.filter-name {
    margin-bottom: 32px;
}

.filter-list {
    list-style:none;
    margin:0;
    padding: 0;
    width: 141px;
    display: flex;
    flex-direction: column;
    gap:16px
}

.price {
    width: 288px;
    min-width: 0;
    padding: 0;
    margin: 0;
}

.price-name {
    margin-bottom: 32px;
}

.name {
    font-weight: 700;  
}

.filter-item {
    display: flex;
    gap:16px;
}

.range-price {
    display: flex;
    gap:2px
}

.input-price {
    width: 143px;
}